/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* Light gray background */
    color: #333333; /* Dark text color */
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header Styles */
header {
    background-color: #ff8c00; /* Orange background */
    color: #ffffff; /* White text color */
    text-align: center;
    padding: 20px 0;
}

/* About Section Styles */
#about {
    background-color: #ffffff; /* White background */
    padding: 50px 0;
}

.about-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-content img {
    max-width: 300px;
    border-radius: 50%;
}

/* Skills Section Styles */
#skills {
    background-color: #ff8c00; /* Orange background */
    color: #ffffff; /* White text color */
    padding: 50px 0;
}

/* Projects Section Styles */
#projects {
    background-color: #ffffff; /* White background */
    padding: 50px 0;
}

.project {
    margin-bottom: 40px;
}

/* Resume Section Styles */
#resume {
    background-color: #ff8c00; /* Orange background */
    color: #ffffff; /* White text color */
    padding: 50px 0;
}

.resume-link {
    color: #ffffff; /* White text color */
    background-color: #333333; /* Dark button color */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.resume-link:hover {
    background-color: #555555; /* Darker button color on hover */
}

/* Contact Section Styles */
#contact {
    background-color: #ffffff; /* White background */
    padding: 50px 0;
}

/* Footer Styles */
footer {
    background-color: #ff8c00; /* Orange background */
    color: #ffffff; /* White text color */
    text-align: center;
    padding: 20px 0;
}

.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin-right: 10px;
}

.footer-links li a {
    color: #ffffff; /* White text color */
    text-decoration: none;
}
